@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

.ScorllBar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F8F9FA;
}

* {
  scrollbar-width: none; /* sembunyikan */
  -ms-overflow-style: none; /* IE & Edge lama */
  scroll-behavior: smooth;
}

*::webkit-scrollbar {
  display: none;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.button-active {
  color: white;
  background: #ff6000;
}

button {
  cursor: pointer;
}


@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 0.3s linear 1;
}

.child-line-clamp * {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-tailwind .rte-content, 
.not-tailwind .rte-content * {
  all: revert !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}
